<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neural Style Transfer</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <div class="header">
      <div class="logoPlaceholder"></div>
      <div class="title">
        <h1>CUDA Accelerated Neural Style Transfer</h1>
      </div>
    </div>
    <div class="body">
      <div class="leftBody">
        <div class="inputSection">
          <div class="originalImage">
            <h2>Original Image</h2>
            <img class="originalPreview" id="originalImagePreview" />
            <input
              class="uploadButton"
              type="file"
              id="originalImageUpload"
              accept="image/*"
            />
          </div>

          <div class="wantedStyle">
            <h2>Style Wanted</h2>
            <img class="stylePreview" id="styleImagePreview" />
            <input
              class="uploadButton"
              diplay="none"
              type="file"
              id="styleImageUpload"
              accept="image/*"
            />
          </div>
        </div>
        <div class="convertButtons">
          <button class="convertCUDA" id="convertCUDA">
            Convert with CUDA
          </button>
          <button class="convertCPU" id="convertCPU">Convert with CPU</button>
        </div>
      </div>

      <div class="rightBody">
        <div class="title">
          <h2>New Image</h2>
        </div>
        <div class="newImageOutput"></div>
        <div class="statsAndDownload"></div>
      </div>
    </div>

    <div class="footer"></div>

    <script>


      // global containers for base64 images
      let original_base64 = "";
      let style_base64 = "";





      // original image upload
      document.getElementById("originalImageUpload").addEventListener("change", function (event) {
          let image = event.target.files[0];

          if (image) {
            let reader = new FileReader();

            reader.onload = function (e) {
              let preview = document.getElementById("originalImagePreview");

              if (e.target.result) {
                preview.src = e.target.result;
                preview.style.display = "cover"; 
                original_base64 = e.target.result; //update global variable
                console.log(original_base64);
              } else {
                console.error("No image file selected");
              }
            };
            reader.readAsDataURL(image); 
          } else {
            console.error("No image selected");
          }
        });

      // style image upload
      document.getElementById("styleImageUpload").addEventListener("change", function (event) {
          let image = event.target.files[0];

          if (image) {
            let reader = new FileReader();

            reader.onload = function (e) {
              let preview = document.getElementById("styleImagePreview");

              if (e.target.result) {
                preview.src = e.target.result;
                preview.style.display = "cover"; 
                style_base64 = e.target.result; // update global variable
                console.log(style_base64);
              } else {
                console.error("No style file selected");
              }
            };
            reader.readAsDataURL(image); 
          } else {
            console.error("No style image selected");
          }
        });




      document.getElementById("convertCUDA").addEventListener("click", function () {
          console.log("Converting with CUDA clicked");
          if(original_base64 && style_base64 ){
            fetch("/cuda_convert", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                original_image: original_base64,
                style_image: style_base64,
                use_cuda: true,
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log("Conversion success:", data);
              })
              .catch((error) => {
                console.error("Error during conversion:", error);
              });
          }
          else {
            console.warn("Please upload both the original and style images.");
        
            const convertButton = document.getElementById("convertCUDA");
            convertButton.classList.add("shake-error");
        
            setTimeout(() => {
              convertButton.classList.remove("shake-error");
            }, 500);
          }
          });

      document.getElementById("convertCPU").addEventListener("click", function () {
          console.log("Converting with CPU clicked");
          if (original_base64 && style_base64) {
            fetch("/cpu_convert", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                original_image: original_base64,
                style_image: style_base64,
                use_cuda: false,
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log("Conversion success:", data);
              })
              .catch((error) => {
                console.error("Error during conversion:", error);
              });
          }
          else {
            console.warn("Please upload both the original and style images.");
        
            const convertButton = document.getElementById("convertCPU");
            convertButton.classList.add("shake-error");
        
            setTimeout(() => {
              convertButton.classList.remove("shake-error");
            }, 500);
          }
        });
    </script>
  </body>
</html>
